/* style.css */
.ingredientspk {
    background-color: #89CFF0 ;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
}

.ingredientscb {
    background-color: #89CFF0 ;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 270px;
}

body {
    font-family: "Brush Script MT" "Tahoma";
    text-align: center;
}


.titel {
    padding: 10px;
    background-color: #dabcff;
}

.h2 {
    padding: 1px;
    background-color: #dabcffbd;
}

.links {
    text-align: left;
}