/* style.css */
.ingredientspk {
    background-color: #89CFF0 ;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 270px;
    box-sizing: border-box;
}

.ingredientscb {
    background-color: #89CFF0 ;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: auto;
}

body {
    font-family: "Brush Script MT" "Tahoma";
    text-align: center;
}

.titel {
    background-color: #dabcff;
    text-align: center;
}